{% extends 'base.html' %}

<body>
    {% block konten %}
    <div class="container-fluid">
        <section class="py-5">
            <div class="container">
                <h2 class="text-center mb-4">{{NamaForm}}</h2>
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        {% if messages %}
                        {% for message in messages %}
                        <li class="alert alert-danger ">{{ message }}</li>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form }}

                            </div>

                            <div class="mb-3">
                                <input class="form-check-input" type="checkbox" id="show_password_checkbox"
                                    onclick="showPassword()">
                                <label for="show_password_checkbox">Tampilkan Password</label>
                            </div>

                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn-primary btn-sm me-md-2 bi bi-floppy"
                                    type="submit">&nbsp;&nbsp;Simpan</button>
                                <a class="btn btn-secondary btn-sm bi bi-arrow-clockwise"
                                    href="{{ link }}">&nbsp;&nbsp;Batal</a>
                            </div>

                        </form>
                        <script>
                            function setPasswordType() {
                                var checkbox = document.getElementById('show_password_checkbox');
                                var password1 = document.getElementById('password1');
                                var password2 = document.getElementById('password2');

                                if (checkbox.checked) {
                                    password1.type = 'text';
                                    password2.type = 'text';
                                } else {
                                    password1.type = 'password';
                                    password2.type = 'password';
                                }
                            }

                            document.getElementById('show_password_checkbox').addEventListener('change', setPasswordType);
                        </script>
                    </div>
                </div>
            </div>
        </section>
    </div>

    </div>
    {% endblock %}
</body>