{% extends 'base.html' %}

{% block konten %}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-4 mb-3">
            <div class="card bg-primary text-white shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-users"></i> Tahun Pelajaran</h5>
                    {% for Data in Data %}
                    <p class="card-text">{{ Data }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card bg-success text-white shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-user-graduate"></i> Jumlah Siswa</h5>
                    <p class="card-text">{{ siswa }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card bg-info text-white shadow-sm">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-layer-group"></i> Jumlah Rombel</h5>
                    <p class="card-text">{{ rombel }}</p>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Bersihkan Sampah -->
    <div class="card shadow-sm mb-3">
        <div class="card-body">
            <h5 class="card-title py-3"><i class="bi bi-trash"></i> Membersihkan Sampah</h5>
            <div class="d-grid d-md-flex justify-content-md-start">
                {% if messages %}
                {% for message in messages %}
                <li class="btn bg-primary-subtle btn-sm" style="font-size: 8;" {% if message.tags %}
                    class="{{ message.tags }}" {%endif%}>
                    {{ message }}</li>
                {% endfor %}
                {% endif %}
            </div>
            <p class="card-text text-muted py-3">Hapus file sementara (temp) yang tidak digunakan lagi.</p>
            <a class="btn btn-warning" href="{% url 'cbt:bersihkan_file_temp' %}">
                Hapus Sampah
            </a>
        </div>
    </div>


</div>
{% endblock %}