{% extends 'base.html' %}

{% block konten %}
<div>
    {% include "menu_lembaga.html" %}
</div>

<div class="container-fluid">
    <div class="col-lg-7 mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary text-black">{{ judul }}</h6>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="">
                            {% csrf_token %}
                            
                            <div class="form-group row mb-3">
                                <label class="col-sm-3 col-form-label">Tahun Pelajaran</label>
                                <div class="col-sm-9">
                                    <select class="form-select" name="tahun_pelajaran" required>
                                        <option value="">-- Pilih Tahun Pelajaran --</option>
                                        {% for tahun in tahun_pelajaran_list %}
                                            <option value="{{ tahun.id }}" {% if tahun.id == selected_tahun_pelajaran %}selected{% endif %}>
                                                {{ tahun }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group row mb-3">
                                <label class="col-sm-3 col-form-label">Semester</label>
                                <div class="col-sm-9">
                                    <select class="form-select" name="semester" required>
                                        <option value="">-- Pilih Semester --</option>
                                        {% for semester in semesters %}
                                            <option value="{{ semester.id }}" {% if semester.id == selected_semester %}selected{% endif %}>
                                                {{ semester }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group row mb-5">
                                <label class="col-sm-3 col-form-label">Kurikulum</label>
                                <div class="col-sm-9">
                                    <select class="form-select" name="kurikulum" required>
                                        <option value="">-- Pilih Kurikulum --</option>
                                        {% for key, value in kurikulum_choices %}
                                            <option value="{{ key }}" {% if key == selected_kurikulum %}selected{% endif %}>
                                                {{ value }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <div class="col-sm-12 text-right">
                                    <button type="submit" class="btn btn-primary bi bi-floppy">&nbsp;
                                        Simpan
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


