env/
# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode/

# PyCharm
.idea/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Backup files
*.bak
*.swp
*.swo
*.orig

# Media / uploads (optional - jika media disimpan lokal dan tidak ingin masuk Git)
media/

# Celery
celerybeat-schedule
celerybeat.pid

# Gunicorn
gunicorn.pid
