# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
*.egg-info/
.installed.cfg
*.egg

# Django files
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Python virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode config
.vscode/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache/

# Coverage
htmlcov/
.coverage
.coverage.*

# Backup/swap files
*.bak
*.swp
*.swo
*.orig

# Media (jika disimpan lokal)
media/

# Celery
celerybeat-schedule
celerybeat.pid

