asgiref==3.10.0
beautifulsoup4==4.14.2
Brotli==1.1.0
cffi==2.0.0
click==8.3.0
cryptography==46.0.2
cssselect2==0.8.0
defusedxml==0.7.1
diff-match-patch==20241021
Django==5.2
django-ckeditor==6.7.3
django-cleanup==9.0.0
django-import-export==4.3.10
django-js-asset==3.1.2
et_xmlfile==2.0.0
fonttools==4.60.1
gunicorn==23.0.0
markdown-it-py==4.0.0
mdurl==0.1.2
odf==0.0.1
odfpy==1.4.1
openpyxl==3.1.5
packaging==25.0
pillow==11.3.0
psycopg==3.2.10
psycopg-binary==3.2.10
psycopg2-binary==2.9.11
pyAesCrypt==6.1.1
pycparser==2.23
pydyf==0.11.0
Pygments==2.19.2
pyphen==0.17.2
rich==14.2.0
setuptools==80.9.0
shellingham==1.5.4
soupsieve==2.8
sqlparse==0.5.3
tablib==3.8.0
tinycss2==1.4.0
tinyhtml5==2.0.0
typer==0.12.5
typing_extensions==4.15.0
weasyprint==66.0
webencodings==0.5.1
wheel==0.45.1
xlrd==2.0.2
zopfli==0.2.3.post1
