{% extends 'base.html' %}


{% block konten %}

<body>
    <div class="">
        <div class="row mt-4">
            <div class="col-md-4 mb-3">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-users"></i> Pengguna</h5>
                        <p class="card-text">1,234 pengguna terdaftar</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card bg-success text-white">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-shopping-cart"></i> Pesanan</h5>
                        <p class="card-text">56 pesanan baru</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card bg-info text-white">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-chart-line"></i> Pertumbuhan</h5>
                        <p class="card-text">+12% bulan ini</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>

    </div>
</body>
{% endblock %}

</html>