{% extends 'base.html' %}


{% block konten %}

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg rounded">

            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" ria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse gap-2" id="navbarSupportedContent">
                    {% include "pesan.html" %}
                    <form method="POST" action="{% url 'cbt:hapus_daftar_nilai' %}" id="delete_form">
                        {% csrf_token %}
                        <div class="btn-group mb-2" role="group" aria-label="Basic mixed styles example">
                            <a class="btn btn-success btn-sm" style="font-size: 12px;"
                                href="{% url 'cbt:tambah_daftar_nilai' %}">
                                <i class="bi bi-plus fst-normal">&nbsp;&nbsp;Tambah</i>
                            </a>
                            <button class="btn btn-danger btn-sm bi bi-trash" style="font-size: 12px;" type="submit"
                                id="delete_button" disabled>&nbsp; Hapus</button>
                        </div>
                </div>
            </div>
        </nav>

        <div class="overflow-auto">

            <table class="table table-striped table-bordered border-info table-hover" style="font-size: 12px;">
                <thead class="text-center">
                    <tr class="">
                        <th class="" scope="col">No</th>
                        <th class="text-center" scope="col">
                            <input type="checkbox" id="select_all">
                        </th>
                        <th class="" scope="col">Kelas</th>
                        <th class="" scope="col">Rombel</th>
                        <th class="" scope="col">Mapel</th>
                        <th class="" scope="col">Jenis Ujian</th>
                        <th class="" scope="col">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in Data %}
                    <tr class="Tabel">
                        <td class="align-middle text-center">{{ forloop.counter|add:Data.start_index|default:0 }}</td>
                        <td class="align-middle text-center"><input type="checkbox" id="selected_ids"
                                name="selected_ids" value="{{data.id}}" class="select_item"></td>
                        <td class="align-middle text-center">{{data.Kelas}}</td>
                        <td class="align-middle text-center">{{data.Rombel}}</td>
                        <td class="align-middle ">{{data.Mapel}}</td>
                        <td class="align-middle text-center">
                            {% if data.jenis_ujian.Jenis_Ujian == 'UTS' %}
                            Ujian Tengah Semester
                            {% elif data.jenis_ujian.Jenis_Ujian == 'UAS' %}
                            Ujian Akhir Semester
                            {% elif data.jenis_ujian.Jenis_Ujian == 'UKK' %}
                            Ujian Kenaikan Kelas
                            {% elif data.jenis_ujian.Jenis_Ujian == 'UJIAN_AKHIR' %}
                            Ujian Akhir
                            <br>
                            <small><strong>
                                    {% if data.Nama_Lembaga.Tikatan_Satuan_Lembaga == 'SD/MI' %}Khusus Kelas VI
                                    {% elif data.Nama_Lembaga.Tikatan_Satuan_Lembaga == 'SMP/MTS' %}Khusus Kelas IX
                                    {% elif data.Nama_Lembaga.Tikatan_Satuan_Lembaga == 'SMA/MA' %}Khusus Kelas XII
                                    {% endif %}
                                </strong></small>
                            {% endif %}
                        </td>
                        <td class="align-middle text-center">
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <a class="btn btn-warning btn-sm bi bi-pencil-square" style="font-size: 11px;"
                                    export_daftar_nilai_pdf href="{% url 'cbt:ubah_daftar_nilai' data.id %}">&nbsp;
                                    Ubah</a>
                                <a class="btn btn-info btn-sm bi bi-graph-up" style="font-size: 11px;"
                                    href="{% url 'cbt:jawaban_siswa' data.id %}">&nbsp; Analisis</a>
                                <a class="btn btn-secondary btn-sm bi bi-card-list" style="font-size: 11px;"
                                    href="{% url 'cbt:daftar_nilai_view' data.id %}">&nbsp; Nilai</a>
                                <a href="{% url 'cbt:export_jawaban_siswa' data.id %}"
                                    class="btn btn-success btn-sm bi bi-file-earmark-excel"
                                    style="font-size: 11px;">&nbsp;Analisis</a>
                                <a href="{% url 'cbt:export_daftar_nilai' data.id %}"
                                    class="btn btn-primary btn-sm bi bi-file-earmark-excel"
                                    style="font-size: 11px;">&nbsp;
                                    Nilai
                                </a>
                                <a class="btn btn-info btn-sm bi bi-printer" style="font-size: 11px;"
                                    href="{% url 'cbt:export_daftar_nilai_pdf' data.id %}">&nbsp; PDF</a>
                                <a class="btn btn-primary btn-sm bi bi-printer" style="font-size: 11px;"
                                    href="{% url 'cbt:export_jawaban_siswa_pdf' data.id %}">&nbsp; Analisis PDF</a>

                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </form>

        </div>
        {% include "setting/pilih.html" %}
    </div>
</body>
{%endblock%}