{% extends 'base.html' %}

<body>
    {% block konten %}
    <div class="container-fluid">
        <section class="py-5">
            <div class="container">
                <h2 class="text-center mb-4">{{NamaForm}}</h2>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            {% if messages %}
                            {% for message in messages %}
                            <li class="alert alert-danger ">{{ message }}</li>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ form.durasi_menit.label_tag }}
                                {{ form.durasi_menit }}
                                {% if form.durasi_menit.errors %}
                                <div class="text-danger">{{ form.durasi_menit.errors }}</div>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary">Simpan Durasi</button>
                            <a class="btn btn-secondary bi bi-arrow-counterclockwise"
                                href="{{link}}">&nbsp;&nbsp;Batal</a>
                        </form>
                        <br>

                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endblock %}
</body>